USE [master]
GO
/****** Object:  Database [CinemaPremiereDb]    Script Date: 20.03.2026 17:10:40 ******/
CREATE DATABASE [CinemaPremiereDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaPremiereDb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaPremiereDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaPremiereDb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaPremiereDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaPremiereDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaPremiereDb]
GO
/****** Object:  Table [dbo].[AgeRatings]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgeRatings](
	[AgeRatingId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [int] NOT NULL,
 CONSTRAINT [PK_AgeRatings] PRIMARY KEY CLUSTERED 
(
	[AgeRatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenres]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenres](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenres] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AgeRatingId] [int] NOT NULL,
	[PosterFileName] [nvarchar](255) NULL,
	[ReleaseDate] [date] NOT NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[BuyDate] [date] NOT NULL,
	[FilmId] [int] NOT NULL,
	[SessionDate] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CountTickets] [int] NOT NULL,
	[TotalSum]  AS ([Price]*[CountTickets]),
	[PaymentTypeId] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.03.2026 17:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FailedAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AgeRatings] ON 

INSERT [dbo].[AgeRatings] ([AgeRatingId], [Name]) VALUES (1, 0)
INSERT [dbo].[AgeRatings] ([AgeRatingId], [Name]) VALUES (2, 6)
INSERT [dbo].[AgeRatings] ([AgeRatingId], [Name]) VALUES (3, 12)
SET IDENTITY_INSERT [dbo].[AgeRatings] OFF
GO
INSERT [dbo].[FilmGenres] ([FilmId], [GenreId]) VALUES (1, 1)
INSERT [dbo].[FilmGenres] ([FilmId], [GenreId]) VALUES (2, 2)
INSERT [dbo].[FilmGenres] ([FilmId], [GenreId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([FilmId], [Title], [AgeRatingId], [PosterFileName], [ReleaseDate]) VALUES (1, N'Три богатыря и свет клином', 2, N'7527356.jpg', CAST(N'2025-12-25' AS Date))
INSERT [dbo].[Films] ([FilmId], [Title], [AgeRatingId], [PosterFileName], [ReleaseDate]) VALUES (2, N'Буратино', 2, N'5354680.jpg', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[Films] ([FilmId], [Title], [AgeRatingId], [PosterFileName], [ReleaseDate]) VALUES (3, N'Чебурашка 2', 2, N'5379012.jpg', CAST(N'2026-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Films] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreId], [Name]) VALUES (1, N'Приключения')
INSERT [dbo].[Genres] ([GenreId], [Name]) VALUES (2, N'Сказка')
INSERT [dbo].[Genres] ([GenreId], [Name]) VALUES (3, N'Семейная комедия')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [BuyDate], [FilmId], [SessionDate], [Price], [CountTickets], [PaymentTypeId], [Note], [UserId]) VALUES (1, CAST(N'2026-01-03' AS Date), 1, CAST(N'2026-01-03' AS Date), CAST(250.00 AS Decimal(10, 2)), 3, 1, NULL, 1)
INSERT [dbo].[Orders] ([OrderId], [BuyDate], [FilmId], [SessionDate], [Price], [CountTickets], [PaymentTypeId], [Note], [UserId]) VALUES (2, CAST(N'2026-01-03' AS Date), 1, CAST(N'2026-01-03' AS Date), CAST(250.00 AS Decimal(10, 2)), 3, 1, NULL, 1)
INSERT [dbo].[Orders] ([OrderId], [BuyDate], [FilmId], [SessionDate], [Price], [CountTickets], [PaymentTypeId], [Note], [UserId]) VALUES (3, CAST(N'2026-01-03' AS Date), 1, CAST(N'2026-01-03' AS Date), CAST(250.00 AS Decimal(10, 2)), 4, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Name]) VALUES (1, N'Банковская карта')
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Name]) VALUES (2, N'Пушкинская карта')
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Name]) VALUES (3, N'Внешняя оплата')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [Login], [Password], [FailedAttempts], [LockoutEnd]) VALUES (1, 1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_FailedAttempts]  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[FilmGenres]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenres_Films] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([FilmId])
GO
ALTER TABLE [dbo].[FilmGenres] CHECK CONSTRAINT [FK_FilmGenres_Films]
GO
ALTER TABLE [dbo].[FilmGenres]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[FilmGenres] CHECK CONSTRAINT [FK_FilmGenres_Genres]
GO
ALTER TABLE [dbo].[Films]  WITH CHECK ADD  CONSTRAINT [FK_Films_AgeRatings] FOREIGN KEY([AgeRatingId])
REFERENCES [dbo].[AgeRatings] ([AgeRatingId])
GO
ALTER TABLE [dbo].[Films] CHECK CONSTRAINT [FK_Films_AgeRatings]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Films] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([FilmId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Films]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentTypes] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
